.formulario {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem;
}

ul {
  list-style: none;
  padding: 0;
}

.formulario h1 {
  text-align: center;
  font-size: 2.5rem;
  color: #d63031;
  margin: 2rem;
}

.contacto {
  background-color: #D4A373;
}
.contacto > * {
  padding: 1rem;
}

.texto-contacto h2 {
  text-align: center;
  font-size: 2.5rem;
  color: #d63031;
}

.contacto-form {
  background: #D4A373;
}
.contacto-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contacto-form form label {
  display: block;
}
.contacto-form form p {
  margin: 0;
  padding: 1rem;
  font-size: 1.5rem;
}
.contacto-form form .block {
  grid-column: 1/3;
}
.contacto-form form button {
  width: 100%;
  padding: 0.7rem;
  border: none;
  background: none;
  outline: 0;
  color: white;
  border-bottom: 1px solid #6A4520;
  background: #6A4520;
  border: 0;
  text-transform: uppercase;
  padding: 1rem;
}
.contacto-form form button:hover {
  background: #d63031;
  color: #202020;
  transition: background-color 1s ease-out;
  outline: 0;
}
.contacto-form form button:focus {
  background: #D4A373;
  color: #202020;
  transition: background-color 1s ease-out;
  outline: 0;
}
.contacto-form form input {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  outline: 0;
  color: #202020;
  border-bottom: 1px solid #d63031;
}
.contacto-form form textarea {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  outline: 0;
  color: #202020;
  border-bottom: 1px solid #d63031;
}

.contacto-info {
  background: #6A4520;
}
.contacto-info h4 {
  text-align: center;
  margin: 0 0 1rem 0;
  font-size: 2;
  color: #fff;
}
.contacto-info ul {
  text-align: center;
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
  color: #fff;
}

.map-responsive {
  overflow: hidden;
  position: relative;
  height: 0;
  padding-bottom: 40%;
}
.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  padding: 1.5rem;
}

.contenedor-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}
.contenedor-box .box img {
  height: 20rem;
  width: 25rem;
  background-color: #101010;
  border-radius: 1rem;
  margin: 2rem;
  text-align: center;
}

.contenedor-box .bi {
  position: relative;
  width: 5rem;
  height: 3rem;
  top: 0;
  background-color: #6A4520 rgba(0, 0, 0, 0.7);
  transition: all 600ms ease-out;
  opacity: 0;
  visibility: hidden;
}

.contenedor-box :hover > .bi {
  opacity: 1;
  visibility: visible;
}

h1 {
  color: #6A4520;
  width: 50%;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  display: flex;
  margin: 3rem;
}

.accordion-item {
  width: 100%;
  margin-top: 10rem;
  background-color: #D4A373;
  padding: 1.5rem;
}

.accordion-body {
  background-color: antiquewhite;
  text-align: center;
  margin-top: 3rem;
  margin: 3rem;
}

.accordion-collapse {
  text-align: center;
  font-size: 1.5rem;
}

.contededor-texto h6 {
  text-align: center;
  font-size: 2rem;
  margin: 1rem 0rem 3rem;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.preguntas {
  font-size: 2rem;
  margin-left: 40%;
  text-align: center;
}
.preguntas h2 {
  text-align: start;
  font-size: 2rem;
  margin: auto;
  background-color: #6A4520;
  display: flex;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 65.5%;
}

.productos img {
  height: 100%;
  width: 100%;
  margin-inline: 5%;
  margin-inline-end: 5%;
}

.row img {
  width: 5rem;
  height: 20%;
  margin-top: 1.5;
}
.row label {
  margin-top: 1rem;
  margin-left: 1rem;
  color: #fff;
  font-size: 1rem;
}

.row2 {
  margin-top: 1rem;
  display: flex;
}
.row2 img {
  width: 15%;
  height: 10%;
}
.row2 label {
  margin: 1rem;
  max-width: 80%;
  margin-top: 1rem;
  font-size: 0.8rem;
}

.colum1 {
  max-width: 400px;
  margin: 1rem;
}
.colum1 h2 {
  font-size: 1.5rem;
  width: 100%;
}
.colum1 p {
  font-size: 1rem;
  color: #fff;
  margin-top: 1.5rem;
  width: 90%;
}

.colum2 {
  width: 40%;
  margin: 1rem;
}
.colum2 h2 {
  font-size: 1.5rem;
  width: 100%;
}
.colum2 row {
  margin-top: 1rem;
  display: flex;
}

.colum3 {
  width: 40%;
  margin: 1rem;
}
.colum3 h2 {
  font-size: 1.5rem;
  text-align: center;
}

.contenedor-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}
.contenedor-box .box img {
  height: 20rem;
  width: 25rem;
  background-color: #101010;
  border-radius: 1rem;
  margin: 2rem;
  text-align: center;
}
.contenedor-box img {
  line-height: 3rem;
  height: 3rem;
  width: 3rem;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  background-color: #6A4520;
  font-size: 2rem;
  margin: 1rem 0;
  box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.5);
  transition: all 500ms ease-out;
  position: relative;
}
.contenedor-box .bi {
  position: relative;
  width: 5rem;
  height: 3rem;
  top: 0;
  background-color: #6A4520 rgba(0, 0, 0, 0.7);
  transition: all 600ms ease-out;
  opacity: 0;
  visibility: hidden;
}
.contenedor-box:hover > .bi {
  opacity: 1;
  visibility: visible;
}

.botonenviar {
  width: 20%;
  margin: 1rem;
  transition: 0.2s;
  border-radius: 1rem;
}
.botonenviar:hover {
  height: 2rem;
  width: 20rem;
  background-color: #D4A373;
}

.botonWpp {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border-radius: 10rem;
  height: 5rem;
  width: 15rem;
  background-color: white;
  color: black;
  text-align: center;
  font-size: 1.7rem;
  margin-right: 4rem;
}
.botonWpp:hover {
  height: 5rem;
  width: 15rem;
  background-color: green;
}

.accordion-button {
  background-color: #6A4520;
  width: 100%;
  text-align: center;
  justify-content: space-between;
  color: #fff;
  display: flex;
  font-size: 2rem;
  margin: 1rem;
}

.footer {
  background-color: #202020;
  color: white;
  width: 100%;
}

.container-footer-all {
  width: 100%;
  max-width: 1400px;
  margin: auto;
  padding: 1.5rem;
}

.container-body {
  display: flex;
  justify-content: space-between;
}

.footer {
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  margin: auto;
  padding: 3rem;
}

body {
  background-color: #D4A373;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-size: 0.92%;
}

.nav-item {
  font-size: 2rem;
  padding-left: 5%;
}

.carousel {
  margin: 2rem;
}
.carousel img {
  height: 100%;
  width: 100%;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .body {
    display: grid;
    grid-template-areas: "header header " "main main" "footer footer ";
    grid-template-columns: 100%;
  }
  .container-body {
    flex-wrap: wrap;
  }
  .colum2,
  .colum3 {
    margin-top: 5%;
  }
}
@media (min-width: 1024px) {
  .contenedor {
    width: 100%;
    height: 100%;
    grid-template-areas: "header header header" "main main main" "footer footer footer ";
  }
}
@media (min-width: 700px) {
  body {
    padding: 0 4rem;
  }
  .contacto {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .contacto > * {
    padding: 2rem;
  }
  .contacto-info h4,
  .contacto-info ul {
    text-align: left;
  }
}

/*# sourceMappingURL=estilo.css.map */
