

footer {
	background-color:$background-color_8;
	color: $color_2;
	width: 100%;
	
}

.container-footer-all {
	width: 100%;
	max-width: 1200px;
	margin: auto;
	padding: 1.5rem;
}
.container-body {
	display: flex;
	justify-content: space-between;
}


