.formulario2 {
	background-color: $background-color_1;
	color: $color_1;
	width: 70%;
	margin: 6rem;
	border-radius: 3rem;
	text-align: start;
	display: flex-box;
	h1 {
		color: $color_2;
		text-align: center;
		font-size: 1.5;
		margin: auto;
	}
	h2 {
		text-align: start;
		font-size: 1rem;
		margin: 1rem;
	}
}
.form-label {
	font-size: 1rem;
	margin: 1rem;
}
.form-control {
	width: 90%;
	font-weight: bold;
	display: flexbox;
	background-color: $background-color_2;
	margin: 1rem;
}
.aviso {
	font-size: 1rem;
	margin: 1rem;
}
.text {
	width: 85%;
	padding: 1rem;
	margin: 1rem;
	font-size: 1rem;
	margin-top: 2rem;
}
.botonenviar {
	margin: 1rem;
	transition: 0.2s;
	border-radius: 1rem;
	font-size: 1rem;
}
.texto-contacto {
	h1 {
		color: $color_3;
		text-align: center;
		font-size: 1.5;
		margin: auto;
	}
}
.map-responsive {
	overflow: hidden;
	position: relative;
	height: 0;
	padding-bottom: 40%;
	iframe {
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		position: absolute;
		padding: 1.5rem;
	}
}
.contenedor-box {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	text-align: center;
	.box {
		img {
			height: 20rem;
			width: 25rem;
			background-color: $background-color_6;
			border-radius: 1rem;
			margin: 2rem;
			text-align: center;
		}
	}

}
.contenedor-box .bi {
    position: relative;
    width: 5rem;
    height: 3rem;
    top: 0;
    background-color: #6A4520 rgba(0, 0, 0, 0.7);
    transition: all 600ms ease-out;
    opacity: 0;
    visibility: hidden;

}

.contenedor-box :hover>.bi {
    opacity: 1;
    visibility: visible;
}

h1 {
	color: $color_4;
	width: 50%;
	font-size: 2rem;
	text-align: center;
	font-weight: bold;
	display: flex;
	margin: 3rem;
}
.accordion-item {
	width: 100%;
	margin-top: 10rem;
	background-color: $background-color_1;
}

.accordion-body {
	background-color: $background-color_5;
	text-align: center;
	margin-top: 3rem;
	font-size: 1.5rem;
}
.contededor-texto {
	h6 {
		text-align: center;
		font-size: 2rem;
		margin: 1rem 0rem 3rem;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		position: absolute;
	}
}
.preguntas {
	h2 {
		text-align: start;
		font-size: 2rem;
		margin: auto;
		background-color: $background-color_4;
		display: flex;
		width: 100%;
	}
	font-size: 2rem;
	margin-left: 40%;
	text-align: center;
}
