
.formulario {
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
	padding: 1.5rem;
}
ul {
	list-style: none;
	padding: 0;
}
.formulario{
	h1 {
		text-align: center;
		font-size: 2.5rem;
		color: $color_7;
		margin:2rem;
	}
}
.contacto {
	background-color: #D4A373;
	>* {
		padding: 1rem;
	}
}
.texto-contacto {
	h2 {
		text-align: center;
		font-size: 2.5rem;
		color: $color_7;
	}
}
.contacto-form {
	background: #D4A373;
	form {
		display: grid;
		grid-template-columns: 1fr 1fr;
		label {
			display: block;
		}
		p {
			margin: 0;
			padding: 1rem;
			font-size: 1.5rem;
		}
		.block {
			grid-column: 1/3;
		}
		button {
			width: 100%;
			padding: 0.7rem;
			border: none;
			background: none;
			outline: 0;
			color: $color_2;
			border-bottom: 1px solid #6A4520;
			background: #6A4520;
			border: 0;
			text-transform: uppercase;
			padding: 1rem;
			&:hover {
				background: #d63031;
				color: $color_3;
				transition: background-color 1s ease-out;
				outline: 0;
			}
			&:focus {
				background: #D4A373;
				color: $color_3;
				transition: background-color 1s ease-out;
				outline: 0;
			}
		}
		input {
			width: 100%;
			padding: 0.7em;
			border: none;
			background: none;
			outline: 0;
			color: $color_3;
			border-bottom: 1px solid #d63031;
		}
		textarea {
			width: 100%;
			padding: 0.7em;
			border: none;
			background: none;
			outline: 0;
			color: $color_3;
			border-bottom: 1px solid #d63031;
		}
	}
}
.contacto-info {
	background: #6A4520;
	h4 {
		text-align: center;
		margin: 0 0 1rem 0;
		font-size: 2;
		color: #fff;
	}
	ul {
		text-align: center;
		margin: 0 0 1rem 0;
		font-size: 1.5rem;
		color: #fff;
	}
}


.map-responsive {
	overflow: hidden;
	position: relative;
	height: 0;
	padding-bottom: 40%;
	iframe {
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		position: absolute;
		padding: 1.5rem;
	}
}
.contenedor-box {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	text-align: center;
	.box {
		img {
			height: 20rem;
			width: 25rem;
			background-color: $background-color_6;
			border-radius: 1rem;
			margin: 2rem;
			text-align: center;
		}
	}

}
.contenedor-box .bi {
    position: relative;
    width: 5rem;
    height: 3rem;
    top: 0;
    background-color: #6A4520 rgba(0, 0, 0, 0.7);
    transition: all 600ms ease-out;
    opacity: 0;
    visibility: hidden;

}

.contenedor-box :hover>.bi {
    opacity: 1;
    visibility: visible;
}

h1 {
	color: $color_4;
	width: 50%;
	font-size: 2rem;
	text-align: center;
	font-weight: bold;
	display: flex;
	margin: 3rem;
}
.accordion-item {
	width: 100%;
	margin-top: 10rem;
	background-color: $background-color_1;
	padding: 1.5rem;
}

.accordion-body {
	background-color: $background-color_5;
	text-align: center;
	margin-top: 3rem;
	margin: 3rem;
}
.accordion-collapse{
text-align: center;
font-size: 1.5rem;
}
.contenedor-texto {
	h2 {
		font-size: 3rem;
		margin: 1rem 0rem 3rem;
		left: 0;
		top: 0;
		text-align: center;
		text-decoration: none;
	}
	p {
		font-size: 2rem;
		margin: 2rem;
		text-align: center;
		top: 0;
		left: 0;
	}
}

.preguntas {
	h2 {
		text-align: start;
		font-size: 2rem;
		margin: auto;
		background-color: $background-color_4;
		display: flex;
		width: 100%;
	}
	font-size: 2rem;
	margin-left: 40%;
	text-align: center;
}
