$color_1: black;
$color_2: white;
$color_3: #202020;
$color_4: #6A4520;
$color_5: #fff;
$color_6: #c7c7c7;
$background-color_1: #D4A373;
$background-color_2: white;
$background-color_3: green;
$background-color_4: #6A4520;
$background-color_5: antiquewhite;
$background-color_6: #101010;
$background-color_7: #6A4520 rgba(0, 0, 0, 0.7);
$background-color_8: #202020;
